services:
  mongodb:
    image: mongo:7.0
    container_name: mongo-rs-test
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - ./data/db:/data/db
    command: >
      mongod
      --replSet rs0
      --bind_ip_all
      --port 27017
      --oplogSize 128
    healthcheck:
      test: ["CMD", "mongosh", "--quiet", "--eval", "db.runCommand({ ping: 1 })"]
      interval: 10s
      timeout: 5s
      retries: 5